* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  background-color: #bce784;
}

h1 {
  text-align: center;
}

input {
  color: orangered;
  background-color: white;
  padding: 20px;
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#equal,
#deleteAll {
  grid-column: span 2;
}

.button {
  font-size: 2rem;
  border: 1px solid black;
  background-color: azure;
}

.display {
  grid-column: 1/-1;
  background-color: #dcdcdc;
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
}
